.pa3 .measure-wide {
  max-width: 100%;
}

#bigimg {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, .3);
  top: 0;
  left: 0;
  display: none;
}

#bigimg img {
  width: 1000px;
  margin: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
}